server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_app
    username: NSI06
    password: password
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 1800000
      pool-name: HikariCP


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: true


logging:
  level:
    org.springframework.security: DEBUG

